.card-image-container {
    position: relative;
    width: 420px;
    height: 300px; /* Adjust the height as needed */
    border-radius: 15px;
    margin:10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #FBFAF5;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-image-container:hover .card-image {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay.hovered {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.card-title {
    font-size: 1.5rem;
    margin: 0;
    color: #333333; /* Dark gray text */
}

.card-description {
    font-size: 1rem;
    margin-top: 10px;
    color: #666666; /* Dark gray text */
}