.tourist-spot-page {
  padding: 20px;
  min-height: 100vh;
  background: linear-gradient(to right, #d2ffec, #9ffcb6); /* Changed background color */
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-title {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.flowpane2 {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
  border-radius: 20px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center; /* Center the card */
  width: 100%; /* Ensure the container takes full width */
}

.flowpane2::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-50%) scale(1.1);
}

.scroll-button:active {
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateY(-50%) scale(1.2);
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.scaled-image {
  width: 80%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.scaled-image:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.tourist-card {
  flex: 0 0 100%; /* Ensure each card takes full width */
  width: 100%; /* Ensure each card takes full width */
  height: 400px;
  scroll-snap-align: center; /* Center the card */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
}

.tourist-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.t2ext-4xl {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s ease-in-out;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-8 {
  padding-top: 2rem;
}

